# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/stories-build
/node_modules
/.vscode
# testing
/coverage
/.idea

# misc
.DS_Store

npm-debug.log*

